<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SclassDev</title>
</head>
<body>
  <a href="/blog">Blog</a>
  <h1>Lorem Ipsum</h1>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odit dolorem sed ut dolores neque praesentium, dolorum animi nesciunt molestiae, eveniet amet laudantium consectetur soluta fugit quos vero, ipsum asperiores repudiandae ducimus exercitationem! Laudantium iusto aliquam neque consectetur porro vero veritatis! Excepturi possimus ipsa deserunt amet magnam fuga corrupti accusamus odio impedit rerum maxime, rem beatae consequuntur ullam voluptatem repellendus numquam iure suscipit totam assumenda, illum eos voluptatibus? Pariatur at saepe, perferendis dolorem dignissimos optio quos culpa reprehenderit, hic, voluptatem quibusdam corrupti quo sed ipsa quae nemo dolores magni odio non eveniet a libero impedit? Ipsum vel hic repellat facere?
</body>
</html>