<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>
<body>
  <h1>Todo List</h1>
  <a href="/todo/create/">Create New Post</a>
  {% if todos %}
    <ul>
      {% for todo in todos %}
        <li>
          <span>{{ todo.name }}</span>
          <a href="{% url 'todo_update' todo.id %}">Edit</a>
          <a href="{% url 'todo_delete' todo.id %}" onclick="return confirm('Deletion confirmation')">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No todos found.</p>
  {% endif %}
</body>
</html>